@use '../base/color' as c;
.search
{
    background-color:c.$h9 ;
     input 
     {
        border-radius: 50px;
        background-color:c.$h9 ;
     }
     button 
     {
        background-color:c.$h9 ;
        border-radius: 50px;
     }
     .form-control:focus 
     {
        box-shadow: none;
      }
}